name: publish-docker

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

env:
  REGISTRY: ghcr.io

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            docker_arch: amd64
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout tagged commit
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Setup rust toolchain
        run: rustup show

      - uses: Swatinem/rust-cache@v2.0.1

      - name: Login into github registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ollama-matrix
        run: cargo build --release --bin ollama-matrix --target-dir ./target --target=${{ matrix.target }}

      - name: Build docker image
        run: |
          docker build --platform linux/${{ matrix.docker_arch }} --pull --build-arg BINARY=target/${{ matrix.target }}/release/ollama-matrix --tag ${{ env.REGISTRY }}/${{ github.repository }}/ollama-matrix:latest .
          docker push ${{ env.REGISTRY }}/${{ github.repository }}/ollama-matrix:latest
